<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
</head>
<body>

    <h2>Personal Details</h2>
    <p><strong>UserName:</strong> {{ user }}</p>
    
    <p><strong>First Name:</strong> {{ personal_details.first_name }}</p>
    <p><strong>Last Name:</strong> {{ personal_details.last_name }}</p>
    <p><strong>Email:</strong> {{ personal_details.email }}</p>
    <p><strong>Phone Number:</strong> {{ personal_details.phone_number }}</p>
</body>
</html>
